#overlay {
  background: #E05749;
}

.title,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content blockquote,
.content dl {
  margin: 0.5em 0;
  padding: 0.5em 1rem;
}

.title,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content blockquote {
  background: #E05749;
  border: 4px solid #000;
  box-shadow: 0.15em .15em 0 #000;
}

.title {
  font-size: 3rem;
  line-height: 1.5;
}

.content h1 {
  font-size: 2.5rem;
}

.content h2 {
  font-size: 2rem;
}

.content h3 {
  font-size: 1.5rem;
  width: 80%;
}

.content h4 {
  font-size: 1.3rem;
  width: 70%;
}

.content h5 {
  font-size: 1.2rem;
  width: 60%;
}

.content h6 {
  font-size: 1.1rem;
  width: 50%;
}

.content p {
  font-size: 1.2rem;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1rem;
  padding-right: 1rem;
}

.content figure {
  margin-top: 2em;
  margin-bottom: 2em;
}

.content figcaption {
  color: gray;
}

.content hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

.content a {
  color: #E05749;
}

.content a:hover {
  color: #E02E1C;
}

.content blockquote {
  position: relative;
  border: unset;
  box-shadow: unset;
  padding: 1rem 2rem calc(1rem + 10px);
  margin: 2em 4em;
}

.content blockquote::before {
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #000;
}

/* list  */

.content ul,
.content ol {
  counter-reset:number; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  margin: 0.5rem 2rem;
}

.content ul li,
.content ol li {
  position: relative;
  padding-left: 2rem;
  line-height: 1.5rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
}

.content ol li::before,
.content ul li::before{
  display:inline-block;
  background: #E05749;
  color: #fff;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight:bold;
  font-size: 1rem;
  border-radius: 30%;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}

.content ul li:before{
  position: absolute;
  border-radius: 50%;
  content: "";
}

.content ol li:before{
  position: absolute;
  counter-increment: number;
  content: counter(number);
}

.content code {
  /* background-color: #E05749; */
  background: rgba(224, 87, 73, 0.3);
  padding: 0 0.5rem;
  border-radius: 1em;
}

.content dl dt {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem 0;
  display: inline;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0) 70%,
    rgb(224, 87, 73, 0.3) 70%
  );
}

.content dl dd {
  margin: 0.5rem 1rem;
  padding: 0.5rem;
}

.content strong,
.content em {
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 0.3em 0;
  display: inline;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0) 70%,
    rgb(224, 87, 73, 0.3) 70%
  );
}
