{{ define "main" }}
<div class="mx-auto my-10 max-w-6xl">
    <div class="mx-3 col-span-3 lg:col-span-2 px-2">
        <h1 class="title text-5xl font-bold mb-3">
            {{ if .Draft }}
            <span class="bg-slate-200 text-slate-500 px-2 mr-2">
                <i class="fas fa-eye-slash"></i>
                draft
            </span>
            {{ end }}
            {{ .Title }}
        </h1>
        <section class="mb-4 text-lg">
            {{- if eq .Type "blog" -}}
            <h4 id="date" class="flex flex-row items-center">
                <i class="fas fa-calendar-day text-2xl mr-2"></i>
                {{ .Date.Format "2006/01/02" }}
            </h4>
            {{ end }}
            {{ with .Params.categories }}
            <div id="categories" class="flex flex-row items-center">
                <i class="fas fa-folder text-2xl mr-1"></i>
                {{ range . }}
                <span
                    class="inline-flex py-1 leading-4 content-center justify-center px-1 text-blue-600 hover:text-blue-800 duration-200"><a
                        href='{{ "categories" | absURL}}/{{ . | urlize }}'>{{ . }}</a></span>
                {{ end }}
            </div>
            {{ end }}
            {{ with .Params.tags }}
            <div id="categories" class="flex flex-row items-center">
                <i class="fas fa-tags text-2xl mr-1"></i>
                {{ range . }}
                <span
                    class="inline-flex py-1 leading-4 content-center justify-center px-1 text-blue-600 hover:text-blue-800 duration-200"><a
                        href='{{ "tags" | absURL}}/{{ . | urlize }}'>#{{ . }}</a></span>
                {{ end }}
            </div>
            {{ end }}
        </section>

        {{ if .Params.images }}
        <div class="flex justify-center">
        <figure class="rounded-full">
            <img class="my-4" src="{{ index .Params.images 0 | relURL }}">
        </figure>
        </div>
        {{ end }}

        <div class="content prose md:prose-lg lg:prose-xl max-w-none py-1">
            {{ .Content }}
        </div>

        {{- partial "share_button.html" . -}}

        <aside id="meta">
            <div class="grid grid-cols-2">
                <div class="col-span-1">
                    {{ with .NextInSection }}
                    <a class="next lg:text-2xl" href="{{ .Permalink }}">
                        <div class="bg-primary border-solid border-4 border-black rounded-lg text-center duration-300 transform hover:-translate-y-1 hover:shadow-lg h-auto m-3 py-4">
                            <span class="icon-keyboard_arrow_left"></span>
                            {{ .Title }}
                        </div>
                    </a>
                    {{ end }}
                </div>
                <div class="col-span-1">
                    {{ with .PrevInSection }}
                    <a class="previous lg:text-2xl" href="{{ .Permalink }}">
                        <div class="bg-primary border-solid border-4 border-black rounded-lg text-center duration-300 transform hover:-translate-y-1 hover:shadow-lg h-auto m-3 py-4">
                            {{ .Title }}
                            <span class="icon-keyboard_arrow_right"></span>
                        </div>
                    </a>
                    {{ end }}
                </div>
            </div>
        </aside>
    </div>
</div>
{{ end }}
