{{if .Site.Data.alert}}
<div class="bg-primary-dark py-2">
    {{ range sort .Site.Data.alert "date" "desc" }}
    <p class="ml-2 text-md text-white"><span class="ml-5 mr-5">{{ .date }}</span>{{ .alert }}</p>
    {{ end }}
</div>
{{end}}
