<div class="mx-auto my-10 max-w-6xl">
    <h2 class="text-4xl ml-2 pt-2 pb-2"><i class="fas fa-bullhorn mr-2"></i>新着情報</h2>
{{ range first 5 (where site.RegularPages.ByDate.Reverse "Type" "in" site.Params.mainSections )}}
<a href="{{ .Permalink }}">{{ partial "summary.html" . }}</a>
{{ end }}

<div class="flex flex-wrap justify-center text-black my-5">
    <a href="blog/"
        class="bg-primary duration-200 px-6 py-3 hover:opacity-80 hover:text-white relative block focus:outline-none text-md text-center">
        <i class="fas fa-angle-double-right mr-2"></i>すべてのお知らせ
    </a>
</div>
</div>
