<hr class="my-4">
<div class="share m-2 grid grid-cols-2 lg:grid-cols-3 gap-2">
    <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}" target="_blank"
        title="Tweet" class="share-button twitter">
        <div class="text-white text-center">
            <span class="icon-twitter text-lg mr-2"></span>
            Twitter
        </div>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&t={{ .Title }}" target="_blank"
        title="Facebook" class="share-button facebook">
        <div class="text-white text-center">
            <span class="icon-facebook text-lg mr-2"></span>
            Facebook
        </div>
    </a>
    <a href="https://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Title }}" target="_blank"
        title="hatena" class="share-button hatena">
        <div class="text-white text-center">
            <span class="icon-hatenabookmark text-lg mr-2"></span>
            Hatena
        </div>
    </a>
    <a href="https://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" title="pocket"
        class="share-button pocket">
        <div class="text-white text-center">
            <span class="icon-get-pocket text-lg mr-2"></span>
            Pocket
        </div>
    </a>
    <a href="https://timeline.line.me/social-plugin/share?url={{ .Permalink }}" class="share-button line">
        <div class="text-white text-center">
            <span class="icon-line text-lg mr-2"></span>
            LINE
        </div>
    </a>
    <a href="javascript:OnClickURL();" class="share-button url" title="Copy to Clipboard"
        data-clipboard-text="{{ .Title }} {{ .Permalink }}" id="url">
        <div class="text-white text-center">
            <span class="icon-link text-lg mr-2"></span>
            Copy Title & URL
        </div>
    </a>
</div>
<hr class="my-4">
