<div class="swiper-container">
    <div class="swiper-wrapper">
        {{ range .Site.Data.slide }}
        <div class="swiper-slide">
            <div class="brightness-50">
                <img src="{{ .image }}" alt="{{ .alt }}">
            </div>
            <div class="s-fade-txt">
                <h1 class="bg-primary text-black border-solid border-black border-4 rounded-lg p-8 text-2xl leading-relaxed sm:text-4xl sm:leading-relaxed md:text-5xl md:leading-normal lg:text-7xl lg:leading-normal">{{ .title }}</h1>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
