{{if .Site.Data.features}}
<div class="bg-tlgray-200 py-6 md:py-10">
    <div class="container mx-auto max-w-7xl">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
            {{ range .Site.Data.features }}
            {{if .link }}<a href="{{ .link | relURL }}">{{ end }}
                <div
                    class="bg-primary border-4 border-solid border-black rounded-lg text-center mx-10  my-2 px-4 py-10 duration-300 transform hover:-translate-y-1 hover:shadow-lg">
                    <div class="p-1">
                        {{if .icon }}
                        <span class="{{ .icon }} text-5xl my-2"></span>
                        {{ end }}
                        <h2 class="text-4xl my-2">{{ .title | markdownify }}</h2>
                        <h2 class="text-2xl my-2"><i class="fas fa-calendar-check mr-2"></i><time>{{ .date }}</time></h2>
                        <p class="sans">{{ .description | markdownify }}</p>
                    </div>
                </div>
                {{if .link }}
            </a>{{ end }}
            {{ end }}
        </div>
    </div>
</div>
{{end}}
