<div
    class="sans w-full px-2 md:max-w-full md:flex mt-3 md:px-0 duration-500 transform hover:-translate-y-1 hover:shadow-md">
    {{ if .Params.images }}
    <img id="thumb" alt="{{.Title}}" class="w-auto border border-gray-400 md:h-60" src="{{ index .Params.images 0 | relURL }}" />
    {{ else }}
    <img id="thumb" alt="{{.Title}}" class="w-auto md:h-60" src='{{ "img/default.jpg" | relURL }}'>
    {{ end }}
    <div
        class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 relative pl-4 p-6 justify-between leading-normal max-w-full w-full">
        <div class="text-gray-900 font-bold text-xl mb-2">
            {{ if .Draft }}
            <span class="bg-slate-200 text-slate-500 px-2 py-2 mr-2">
                <i class="fas fa-eye-slash"></i>
                draft
            </span>
            {{ end }}
            {{ .Title }}
        </div>
        {{ with .Params.categories }}
        <p class="text-sm text-gray-600 items-center my-2">
            <i class="fas fa-folder mr-1"></i>
            {{ range . }}
            <span class="mr-2">{{ . }}</span>
            {{ end }}
        </p>
        {{ end }}
        {{ with .Params.tags }}
        <p class="text-sm text-gray-600 items-center my-2">
            <i class="fas fa-tags mr-1"></i>
            {{ range . }}
            <span class="mr-2">#{{ . }}</span>
            {{ end }}
        </p>
        {{ end }}
        <p class=" text-gray-700 text-base pb-5">{{ substr .Summary 0 130 | plainify | htmlUnescape }}</p>
        {{ if eq .Type "blog" }}
        <p class="text-sm text-gray-600 items-center">
            <i class="fas fa-calendar-day mr-2"></i>
            <time>{{ .Date.Format "2006/01/02" }}</time>
        </p>
        {{ end }}
        {{ if eq .Type "stream" }}
        <p class="text-sm text-gray-600 items-center">
            <i class="fas fa-clock mr-2"></i>
            <time>{{ .Date.Format "15:04" }}ころ</time>
        </p>
        {{ end }}
        <div class="text-right align-text-bottom"><i class="fas fa-angle-double-right mr-2"></i>詳細を確認する</div>
    </div>
</div>
