<!DOCTYPE html>
<html lang="ja">

<head>
    {{- partial "head.html" . -}}
</head>

<body>
    {{- partial "alert.html" . -}}
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    {{- partial "recent.html" . -}}
    {{- partial "footer.html" . -}}
    {{- partial "script.html" . -}}
</body>

</html>
