<div class="flex flex-row my-2">
    {{ with .Get "icon" }}
    <img class="max-h-40 border-4 rounded-full" src='{{ . | relURL }}'>
    {{ else }}
    <img class="max-h-40 border-4 rounded-full" src='{{ "img/cast/guest.png" | relURL }}'>
    {{ end }}
    <div class="flex flex-col ml-5">
        {{- with .Get "p1" -}}
        <span class="my-2"><strong>{{ . }}</strong></span>
        {{- end -}}
        {{- with .Get "p2" -}}
        <span class="my-2">{{ . }}</span>
        {{- end -}}
        {{- with .Get "p3" -}}
        <span class="my-2">{{ . }}</span>
        {{- end -}}
    </div>
</div>
