{{- if .Get "id" -}}
<h2>チケットを予約する</h2>
<p>
<strong>2022/08/22 12:30 追記</strong>
</p>
<p>
    多くの方にお申し込みをいただきありがとうございました。
    おかげさまで満席となりました！
    キャンセルがありますと予約枠の空きが表示され、お申し込みいただける状態になります。
</p>
<p>
    下記ウィジェットは予約枠の空きがリアルタイムで反映されない可能性があります。
    残り枚数に関しては該当するPeatixのイベントページを直接確認してください。
    </p>
<p>
    予約のキャンセルをご希望の方は、Peatixで予約したコースにある「主催者へ連絡」ボタンを使ってお問い合わせください。
    その際、予約者の名前、チケット種別（どの便）、キャンセルする枚数を明記してメッセージをお送りください。
</p>

<div class="flex justify-center">
<iframe
    {{ with .Get "frameborder" }}frameborder="{{ . }}"{{ else }}frameborder="0"{{ end }}
    {{ with .Get "width" }}width="{{ . }}"{{ else }}width="600"{{ end }}
    {{ with .Get "height" }}height="{{ . }}"{{ else }}height="800"{{ end }}
    {{ with .Get "id" }}src="https://peatix.com/event/{{ . }}/share/widget?z=1&t=1&a=1"{{ end }}
></iframe>
</div>
{{- end -}}
