<div class="flex justify-center leading-loose">
<div class="table">
    <div class="table-header-group bg-primary">
        <div class="table-row">
            <div class="table-cell border-y-4 border-black text-center w-24">順位</div>
            <div class="table-cell border-y-4 border-black text-left w-80">ユーザー名</div>
            <div class="table-cell border-y-4 border-black text-left w-32">スコア</div>
        </div>
    </div>
    <div class="table-row-group">
        {{ range $.Site.Data.ranking }}
        <div class="table-row ">
            <div class="table-cell border-b border-gray-200 text-center">{{ .rank }}</div>
            <div class="table-cell border-b border-gray-200 text-left">{{ .name }}</div>
            <div class="table-cell border-b border-gray-200 text-right pr-5">{{ .score }} pts</div>
        </div>
        {{ end }}
    </div>
</div>
</div>
